<center></<h1>My Biography</h1></center>
<center><p>My name is Mor Haham, and I live in israel<br>I learn Ruby on Rails</center>

<ul>
	<h1>my hobbies</h1>
      <% ['play soccer', 'computers', 'basketball'].each do |hobbie| %>
        <li><%= hobbie %></li>
      <% end %>
    </ul>

<style type="text/css">
p{
	font-family: sans-serif;
	font-size: 14px;
	color: blue;
}

h1{
	font-family: serif;
	color: black;
}
</style>
